
@use "../../styles/variables.scss" as * ;

.parentContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding-right: 1rem ;
    border-right: 1px solid $secondary;

    :global(.ant-upload-wrapper .ant-upload-drag) {
        height: 90%;
      }
    

}